html.light {
  --t-brand: #f8b500;
  --t-common-40: rgba(77, 77, 77, 0.4);
  --t-status-warn: #f8b500;
  --t-status-finish: #34a853;
  --t-status-error: #ea4335;
  --t-status-info: #4285f4;
  --t-status-unfinish: #6a6d70;
  --t-tinge-approval: #aad1b5;
  --t-tinge-delay: #ffcfcb;
  --t-tinge-robot: #cee0ff;
  --t-btn-yellow-normal: #f8b500;
  --t-btn-yellow-hover: #ffba33;
  --t-btn-yellow-aspc: #e59500;
  --t-btn-yellow-disable: #ffda92;
  --t-btn-green-normal: #34a853;
  --t-btn-green-hover: #4eb269;
  --t-btn-green-aspc: #18a03a;
  --t-btn-green-disable: #89c799;
  --t-btn-red-normal: #ea4335;
  --t-btn-red-hover: #f5675b;
  --t-btn-red-aspc: #d52c20;
  --t-btn-red-disable: #ffaea7;
  --t-btn-blue-normal: #4285f4;
  --t-btn-blue-hover: #67a0ff;
  --t-btn-blue-aspc: #2a72dd;
  --t-btn-blue-disable: #abcbff;
  --t-btn-gray-normal: #ffffff;
  --t-btn-gray-hover: #e6e6e6;
  --t-btn-gray-aspc: #dbdbdb;
  --t-btn-gray-disable: #c7c7c7;
  --t-icon-gray-normal: #1c3045;
  --t-icon-gray-hover: #293b4f;
  --t-icon-gray-aspc: #132538;
  --t-icon-gray-disable: #5b646e;
  --t-table-select-normal: #ffffff;
  --t-table-select-hover: #ffffc9;
  --t-table-select-aspc: #fdfdaf;
  --t-table-select-disable: #e8e8e8;
  --t-text-extrude: #1a1a1a;
  --t-regulart-text: #333333;
  --t-headert-text: #4d4d4d;
  --t-labelt-text: #6a6d70;
  --t-watermarkt-text: #b3b3b3;
  --t-progresst-border: #89919a;
  --t-form-scroll-border: #89919a;
  --t-content-dialogd: #ffffff;
  --t-tbodyodd-form: #ffffff;
  --t-tbodyeven: #f2f2f2;
  --t-navbar-topbar: #fafafa;
  --t-mostbottom: #e0e0e0;
  --t-globalsearch: #f0f0f0;
  --t-tabbar: #f0f0f0;
  --t-dialog-border: #e6e6e6;
  --t-cell-disable: #e8e8e8;
  --t-table-border: #d8d8d8;
  --t-table-header: #c9c9c9;
  --t-nav-border: #d6d6d6;
  --t-tooltip: #4d4d4d;
  .el-checkbox {
    --el-checkbox-text: yellow;
    --el-checkbox-checked-text: red;
  }
}
