html.dark {
  .el-checkbox {
    --el-checkbox-text-color: green;
    --el-checkbox-checked-text-color: red;
  }
}
html.light {
  .el-checkbox {
    --el-checkbox-text-color: blue;
    --el-checkbox-checked-text-color: red;
  }
}
