.el-menu {
  border-right: none;
  background-color: var(--tc-navbar-topbar);

  .el-sub-menu__title {
    height: 40px;

    &:hover {
      background-color: var(--tc-navbar-topbar);
    }
  }

  .el-menu-item {
    height: 40px;

    &.is-active {
      color: var(--tc-brand);
    }

    &:hover {
      background-color: var(--tc-navbar-topbar);
      color: var(--tc-brand);
    }
  }
}

.el-date-editor {
  .el-range__icon {
    margin-right: 8px;
  }
  .el-range-input {
    font-size: 12px;
    margin-top: 2px;
  }
}

.el-table {
  .el-table__header {
    th.el-table__cell {
      line-height: 23px;
    }
  }
  .el-table__body {
    tr.warning-row{
      --el-table-tr-bg-color: var(--el-color-warning-light-9);
      --el-fill-color-lighter: var(--el-color-warning-light-9);
    }
    tr.success-row{
      --el-table-tr-bg-color: var(--el-color-success-light-9);
      --el-fill-color-lighter: var(--el-color-success-light-9);
    }
    td.el-table__cell {
      .el-input,
      .el-input-number,
      .el-select-v2,
      .el-select-v2__wrapper,
      .el-select,
      .el-input-number__decrease,
      .el-input-number__increase,
      .el-input__inner {
        height: 16px;
        border: none;
        --el-input-border-color: transparent;
        --el-input-hover-border-color: transparent;
        --el-input-focus-border-color: transparent;
        --el-select-border-color-hover: transparent;
        --el-select-input-focus-border-color: transparent;
        .el-select-v2__placeholder.is-transparent {
          height: 16px;
          line-height: 16px;
        }
      }
      .cell {
        line-height: 16px;
      }
    }
  }
  .el-table__header,
  .el-table__body {
    td.el-table__cell {
      padding: 0;
    }
    td.el-checkbox__inner {
      width: 14px;
      height: 14px;
    }
  }
}

.el-pagination{
  padding:8px 10px 6px 10px;
  background-color: var(--tc-content-dialogd);
  .el-pagination__total{
    font-size:13px;
  }
  .el-pagination__sizes{
    .el-input{
      --el-select-input-focus-border-color:var(--tc-brand);
    }
    .el-input__inner{
      font-weight: 700
    }
  }
  .el-pager {
    li{
      width:24px;
      min-width:24px;
      margin:0 4px;
      padding:0;
      font-weight: 700;
      font-size: 13px;
      background-color: var(--tc-pagination);
    }
    li.is-active{
      color:white;
      background-color: var(--tc-brand);
    }
    li:hover:not(.is-active){
      color:var(--tc-brand);
    }
  }
  .el-pagination__jump .el-input__wrapper{
    --el-input-focus-border-color:var(--tc-brand);
  }
  button,ul,ul>li,span,span .el-input,span .el-input__inner{
    height:24px;
    line-height: 24px;
  }
}

